data/*
!data/.gitkeep

outputs/*
!outputs/.gitkeep

models/*
!models/.gitkeep

*.pyc
*.env

wandb/

infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup